.section_margin {
  margin: 0 4rem;
}

.faq_section {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  /* padding: 4rem 6rem; */
}

.faq_text_container {
  /* border: 1px solid lime; */
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.section_padding {
  padding: 9rem 6rem;
}

.button_wrapper {
  display: flex;
  justify-content: center;
  gap: 4rem;
  flex-wrap: wrap;
}

.button_wrapper div {
  /* border: 1px solid red; */
  min-width: 300px;
}
.faq_text_wrapper p {
  font-family: var(--font-base);
  font-size: 41px;
  color: #6c6c6c;
  font-weight: 700;
}

.faq_button {
  background: #fff;
  font-family: var(--font-base);
  font-size: 16px;
  color: var(--color-dark-gray);
  padding: 0.3rem 2rem;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 5px;
  border: 1px solid var(--color-header-blue);
  text-align: center;
  min-width: 350px;
  cursor: pointer;
}

.faq_button:hover {
  background-color: var(--color-light-gray);
  transition: 0.5s ease;
}

.active {
  background-color: var(--color-light-gray);
}
.toggleContent {
  /* transition: opacity 0.5s; */
  animation: fadeIn ease 2.2s;
  /* text-align: left; */
  display: flex;
  flex-direction: column;
  background-color: var(--color-cta);
  width: 120%;
  height: 620px;

  padding: 4rem 4rem;
}

.toggle_content_title {
  /* border: 1px solid red; */
  width: 100%;
  height: 25%;
  margin: 0 2rem;

  /* font-size: 2px; */
  /* height: 100%; */
}
.faq_bullets {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  margin: 0 2rem;
  /* border: 1px solid lime; */
  white-space: pre;
}

.faq_bullets_text_wrapper {
  padding: 0 0.3rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.faq_sub_content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading_flex {
  display: flex;
}

.faq_bullets img {
  width: 2.5rem;
  height: 2.25rem;
}
.faq_title {
  font-family: var(--font-base);
  font-size: 30px;
  margin-bottom: 1.5rem;
}

.faq_subtitle {
  font-size: 20px;
  font-family: var(--font-alt);
  /* word-wrap: break-word; */
}

.faq_heading {
  font-family: var(--font-alt);
  color: #606060;
  text-transform: uppercase;
  font-size: 1rem;
  white-space: pre-wrap;
}

.faq_sub_content {
  font-family: var(--font-alt);
  color: #606060;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: left;
  margin-left: 2.75rem;
  margin-top: -0.4rem;
  /* white-space: nowrap; */
  /* overflow: hidden;
  text-overflow: ellipsis; */
  /* display: block; */
  white-space: pre-wrap;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1390px) {
  .toggleContent {
    height: 720px;
  }
}

/* @media screen and (max-width: 1142px) {
  .toggleContent {
    width: 150%;
  }
} */

@media screen and (max-width: 842px) {
  .faq_title {
    font-size: 25px;
    margin-bottom: 1.5rem;
  }
  .faq_subtitle {
    font-size: 15px;
    font-family: var(--font-alt);
    white-space: pre-wrap;
    /* color: red; */
  }

  /* .toggle_content_title {
    height: 20%;
  } */
}

@media screen and (max-width: 711px) {
  .toggleContent {
    height: 820px;
    /* background: red; */
  }
}
@media screen and (max-width: 633px) {
  .toggle_content_title {
    height: 40%;
  }

  .toggleContent {
    height: 890px;
    /* background: blue; */
  }
}

@media screen and (max-width: 583px) {
  .toggle_content_title {
    height: 40%;
  }

  .toggleContent {
    height: 1020px;
    /* background: pink; */
  }
}

@media screen and (max-width: 537px) {
  .toggle_content_title {
    height: 20%;
  }

  .toggleContent {
    height: 1180px;
    /* background: green; */
  }
}

/* @media screen and (max-width: 640px) {
  .toggle_content_title {
    height: 30%;
    color: red;
    width: 100%;
  }
} */
